  <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">CELULAR</th>
      </tr>
    </thead>
    <tbody>
      <% let index=1; dados.forEach(user => { %>
        <tr <%- req.session.username==user.username ? `styles="color: white; font-style: bold;"` : ``%>>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.celular %></td>
          <td><%= user.password %></td>
        </tr>
        <% index++; }); %>

      <% for( let i = 1; i <= 11; i++ ) { %> 
        <% if (i %- 2 == 0) { %>
      <tr>
        <td><%= i %></td>
        <td>NOME</td>
        <td>CELULAR</td>
        <td>EMAIL</td>
      </tr>
      <% } %>
      <% } %>
    </tbody>
  </table>