<!DOCTYPE html>
<html lang="ptbr">


    <%- include('../Partials/head'); %>


<body>

    <header>
        <%- include('../Partials/menu'); %>       
    </header>

    <main class="container">
        <div class="texto3">
            <h1>usuario ja cadastrado tente novamente</h1>
        </div>
    </main>

    <footer>
        <%- include('../Partials/footer'); %>
    </footer>

    <header>
        <%- include('../Partials/menu'); %>       
    </header>

    <main>
        <div>
            <h1>Página não encontrada</h1>
            <img src="./static/Images/panda404.jpg">
            <h1 >Erro 404</h1>
        </div>
    </main>

    <footer>
        <%- include('../Partials/footer'); %>
    </footer>
    
</body>